/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 99%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 4%;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}

/* the styles for the main content */
main{
	clear: left;
	padding: 0 30px;
}
article p{
	clear:left;
	padding-left:20px;
	padding-right:20px;
}

article img{
	float: right;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	border: 1px solid black;
	max-width: 100%;
	min-width: 150px;
}

article{
	float:right;
	width: 66%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 20px;
}

article h3{
	font-size: 105%;
	padding-bottom: .25em;
}


h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-bottom: 0;
	margin-top: 0;
	color: #800000;
}

article h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	padding-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
	color: #800000;
}

article h2{
	padding-left:20px;
	font-size: 130%;
	padding-top: 0em;
}

aside h2{
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

article h3{
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}


main p {
	padding-bottom: .5em;
}

main blockquote {
	padding: 0 2em;
	font-style: italic;
}

main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear:both;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

aside{
	width: 26%;
	float: left;
	padding-left: 2%;
	padding-bottom: 20px;
}


#nav_menu ul{
	list-style-type: none;
	position: relative;
}

#nav_menu ul li{
	float:left;
	width: 20%;
}

#nav_menu ul ul{
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li { float: none;
}

#nav_menu ul li:hover > ul {
	display: block; 
	width: 100%;}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

#nav_menu ul li a{
	text-align: center;
	display: block;
	padding: 1em 0;
	text-decoration: none;
	background-color:#800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul li a.current {color: yellow;}

#nav_menu ul li a.lastitem { 
	border-right: none;
	padding: 0 0; 
}

ul { list-style-type: circle; }
	
figure {float:right;
	margin-right: .5em; }

figcaption {
	display: block;
	font-weight: bold;
	padding-top: .25em;
	margin-bottom: .25em;
	border-bottom: 1px solid black; }

#mobile_menu {
display: none;
}

@media only screen and (max-width: 959px){

	article h1{font-size: 135%;}
	article h2, aside h2 {font-size: 120%;}

}

@media only screen and (max-width: 767px){
	header img{float:none;}
	header, footer p{text-align: center;}
	article, aside{float: none;
			width: 96%}
	aside{padding-right: 2%;}
	article img{max-width: 100%;}
	aside_small{-moz-column-count:2;
		    -webkit-column-count:2;
		     column-count:2;}
	#nav_menu { display: none; }
	#mobile_menu { display: block; }
	.slicknav_menu {background-color: #800000 !important; }
	body {
		width: 100%; /* full width of screen */
		margin: 0; /* no margins */
		border: none;}
	footer p { margin-right: 0; }
	
}

@media only screen and (max-wisth:480px){
	article img{max-width:100%;}
	html{font-size:90%;}
	th, td { display: block; }
}



figure {
width: 450px;
padding: 15px; 
float: right;}

figcaption {
border-bottom: none;
display: block;
font-weight: bold;
text-align: left;
font-size: 120%; 
color:#800000}

table {
border: 1px;
border-collapse: collapse;
width: 450px; 
}

th{
border-top: 2px solid black;
border-bottom: 2px solid black;
border-right: 2px;
border-left:2px;
padding: .2em .7em;
text-align: right;
border-color:#800000;
}

td{
text-align:right;
padding-top:.5em;
padding-bottom:.5em;
}

.inner{
border-top: 2px solid black;
border-bottom: 2px solid black;
padding: .2em .7em;
text-align: right;
border-color:#800000; 
}

.inner_b{
border-bottom: 2px solid black;
padding: .2em .7em;
text-align: right;
border-color:#800000; 
}

.inner_c{
border-bottom: 2px;
padding: .2em .7em;
text-align: right; 

}

.inner_d{
border-top: 2px;
padding: .2em .7em;
 

}

.inner_e{
border-top: 2px solid black;
padding: .2em .7em; 
border-color:#800000;
}

.no_border{
border:2px;
padding: .2em .7em;
}

.align_c{text-align: center;
border-bottom: 2px solid black;
border-color:#800000;
}


